.row
  .col-9
    - if !@jobs.empty?
      %table.table.table-condensed.table-hover
        %thead
          %tr
            %th 公司名稱
            %th 職務名稱
            %th 平均時數/週
            %th
        %tbody
          -@jobs.each do |job|
            %tr
              %td= job.company.name rescue ""
              %td= job.name
              %td= job.hours_per_week
              %td
                .actions
                  = link_to "修改", edit_job_path(job), class: "btn btn-small btn-info"
                  = link_to "刪除", job_path(job), method: :delete, class: "btn btn-danger btn-small",
                    data: {confirm: "確定刪除?"}
    - else
      %h2 你還沒有資料喔!

    .action
      = link_to "建立工作", new_job_path, class: "btn btn-primary"
