-if current_user
  .row
    .col-lg-9
      %ul.nav.nav-tabs#user_functions
        %li#application= link_to "今天 #{Time.now.to_date}", root_path
        %li#this_week= link_to "這禮拜", '#'
        %li#calendar= link_to "月曆", '#'
        %li#job_info= link_to "公司資料", '#'

:javascript

  window.onload = function() {
    $('##{controller_name}').addClass("active")
  };

