.span9
  .row
    .clock

  - if !@today.nil?
    .row
      %h4 今天
      %h6= "上班: #{@today.punchin.to_time}"
      %h6= "下班: #{@today.punchin.to_time}"

  .row
    %table.table.table-striped.table-condensed
      %thead
        %tr
          %th 日期
          %th 上班時間
          %th 下班時間

      %tbody
        - @this_week.each do |tw|
          %tr
            %td= l tw.punchin.to_date
            %td= l tw.punchin.to_time
            %td= l tw.punchout.to_tima

:javascript
  var clock = $('.clock').FlipClock({
    clockFace: 'TwentyFourHourClock'
  });

