
-if current_user
  .row
    .span9
      %ul.nav.nav-tabs#user_functions
        %li.active= link_to "今天", root_path
        %li= link_to "這禮拜", '#'
        %li= link_to "月曆", '#'
        %li= link_to "公司資料", '#'

.row
  .span9.pane
    %h4 今天
    #today_in
      - if @today.present? and !@today.punchin.nil?
        = "上班時間: #{@today.punchin.to_time}"
      - else
        = "上班時間: 今天還沒上班喔!"

    #today_out
      - if @today.present? and !@today.punchout.nil?
        = "下班時間: #{@today.punchout.to_time}"
      - else
        = "下班時間: 今天還沒下班喔!"

- if !@this_week.empty?
  .row
    %table.table.table-striped.table-condensed
      %thead
        %tr
          %th 日期
          %th 上班時間
          %th 下班時間

      %tbody
        - @this_week.each do |tw|
          %tr
            %td= l tw.punchin.to_date
            %td= l tw.punchin.to_time
            %td= l tw.punchout.to_tima

:javascript
  var clock = $('.clock').FlipClock({
    clockFace: 'TwentyFourHourClock'
  });

