.row
  .col-9
    = debug flash
    - [:notice, :error, :alert].each do |level|
      - unless flash[level].blank?
        %div{ :class => "alert #{flash_class(level)}"}= content_tag :p, flash[level]
-if current_user
  .row
    .col-9
      %ul.nav.nav-tabs#user_functions
        %li#application= link_to "今天 #{Time.now.to_date}", root_path
        %li#this_week= link_to "這禮拜", '#'
        %li#calendar= link_to "月曆", '#'
        %li#jobs= link_to "公司資料", jobs_path

:javascript

  window.onload = function() {
    $('##{controller_name}').addClass("active")
  };

